<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="dialog" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
	<Snippet xsi:type="session" id="dialog.confirmCancelStateSnippet" type="IndexText" formatItem="dialog/confirmCancel/states/State.{1}"/>
	<Snippet xsi:type="session" id="dialog.closeStateSnippet" type="IndexText" formatItem="dialog/close/states/State.{1}"/>
	<Snippet xsi:type="session" id="dialog.closeImageSnippet" type="IndexText" formatItem="dialog/close/image/Image.{1}"/>
  	<Snippet id="dialog.updateVersion" xsi:type="session" type="String" formatItem="{1|.8}" />
  </Snippets>
</SnippetsSet>
