<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="information" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
	<Snippet xsi:type="session" id="information.beltStatusSnippet" type="IndexText" formatItem="IAT/info/information/belt/status/State.{1}"/>
	<Snippet xsi:type="session" id="information.cassetteStatusSnippet" type="IndexText" formatItem="IAT/info/information/cassette/status/State.{1}"/>
  </Snippets>
</SnippetsSet>
